flows(5).json
[{"id":"8ef5be51.c4dce8","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"c29358b3.39ac6","type":"inject","z":"8ef5be51.c4dce8","name":"Start stream","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"18","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["103799b0.fd46de"]]},{"id":"e79b74a.32b5288","type":"inject","z":"8ef5be51.c4dce8","name":"Pause all streams","props":[{"p":"payload","v":"SIGSTOP","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SIGSTOP","payloadType":"str","x":150,"y":240,"wires":[["2edbf0a4.b41bd"]]},{"id":"96c3adf1.8d82e8","type":"inject","z":"8ef5be51.c4dce8","name":"Resume all streams","props":[{"p":"payload","v":"SIGCONT","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SIGCONT","payloadType":"str","x":150,"y":280,"wires":[["2edbf0a4.b41bd"]]},{"id":"2edbf0a4.b41bd","type":"change","z":"8ef5be51.c4dce8","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":300,"wires":[["103799b0.fd46de"]]},{"id":"8200e4b8.7d44a8","type":"inject","z":"8ef5be51.c4dce8","name":"Stop all streams","props":[{"p":"payload","v":"SIGTERM","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SIGTERM","payloadType":"str","x":140,"y":320,"wires":[["2edbf0a4.b41bd"]]},{"id":"29db2cc.5d70fd4","type":"image","z":"8ef5be51.c4dce8","name":"","width":"200","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":660,"y":160,"wires":[]},{"id":"103799b0.fd46de","type":"exec","z":"8ef5be51.c4dce8","command":"ffmpeg  -y -i \"rtsp://username:password@192.168.0.2:554/onvif1\" -vframes 1  /home/pi/2.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Decode RTSP stream 2","x":430,"y":200,"wires":[["e99a4ceb.4d21a"],[],[]]},{"id":"e99a4ceb.4d21a","type":"file in","z":"8ef5be51.c4dce8","name":"","filename":"/home/pi/2..jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":420,"y":140,"wires":[["29db2cc.5d70fd4","19386a9c.ced7e5"]]},{"id":"61a39d2f.c86af4","type":"image","z":"8ef5be51.c4dce8","name":"","width":"200","data":"image","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":880,"y":80,"wires":[]},{"id":"525648f2.e2368","type":"debug","z":"8ef5be51.c4dce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"classes","targetType":"msg","statusVal":"classes","statusType":"auto","x":1090,"y":160,"wires":[]},{"id":"19386a9c.ced7e5","type":"tensorflowCoco","z":"8ef5be51.c4dce8","name":"","modelUrl":"http://localhost:1880/coco/model.json","scoreThreshold":0.5,"passthru":"bbox","x":650,"y":120,"wires":[["525648f2.e2368","61a39d2f.c86af4","d4182ea9.7b0de8","d8ee3ebc.49d71","e1fb0acb.8efcf8","a5c61042.bb93a8"]]},{"id":"d4182ea9.7b0de8","type":"debug","z":"8ef5be51.c4dce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":40,"wires":[]},{"id":"d8ee3ebc.49d71","type":"function","z":"8ef5be51.c4dce8","name":"","func":"var objectDetected = msg.classes; //msg.payload[0].class.toString()\nvar message = objectDetected;\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":120,"wires":[["573185e2.7e473c"]]},{"id":"573185e2.7e473c","type":"debug","z":"8ef5be51.c4dce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":120,"wires":[]},{"id":"e1fb0acb.8efcf8","type":"debug","z":"8ef5be51.c4dce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"scoreThreshold","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":80,"wires":[]},{"id":"81677106.a7867","type":"function","z":"8ef5be51.c4dce8","name":"","func":"var sThreshold = msg.scoreThreshold; //scoreThreshold\nif (sThreshold > 0.6)\n{\n    msg.payload = \"Person detected at back wall\\n Live video link <a href=://rtsp://username:password@192.168.0.2:554/media/media.amp?camera=quad> Live video link</a>\";\n} \nelse\n{\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":200,"wires":[["c2f92fd.f7d7ad","a748341a.9f09a","48071b1c.d4155c","7149648.6e4041c"]]},{"id":"a748341a.9f09a","type":"debug","z":"8ef5be51.c4dce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":160,"wires":[]},{"id":"a5c61042.bb93a8","type":"switch","z":"8ef5be51.c4dce8","name":"Check For person","property":"classes.person","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":200,"wires":[["81677106.a7867"]]},{"id":"c2f92fd.f7d7ad","type":"mqtt out","z":"8ef5be51.c4dce8","name":"alert","topic":"alert","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"166d5363.db720d","x":1530,"y":200,"wires":[]},{"id":"48071b1c.d4155c","type":"mqtt out","z":"8ef5be51.c4dce8","name":"alert/camera4","topic":"alert/camera4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"166d5363.db720d","x":1520,"y":240,"wires":[]},{"id":"7149648.6e4041c","type":"cast-to-client","z":"8ef5be51.c4dce8","name":"","url":null,"contentType":"","message":null,"language":"en","ip":"","port":"","volume":null,"x":1440,"y":320,"wires":[[]]},{"id":"166d5363.db720d","type":"mqtt-broker","name":"","broker":"192.168.10.105","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]